mixin investment()
    +b.SECTION.investment
        +inner
            +e.heading 
                +heading('Инвестиции')
            +e.content
                +e.P.text «Центр Развития Портовой Инфраструктуры» инвестирует в инфраструктурные транспортно-логистические проекты и производственные компании и принимает активное участие в их развитии совместно с партнерами. Инвестиционный портфель ЦРПИ состоит из таких крупных проектов, как специализированный морской порт по перегрузке угля «Суходол», угольный терминал морского торгового порта «Лавна» и производственный холдинг «Алтайвагон».
        +e.UL.list
            +e.LI.item
                +e.item-image(style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('images/investment/investment2.jpg')")
                +e.item-content
                    +e.item-header
                        +e.item-title Суходол
                        +e.item-city Владивосток
                    +e.P.item-text Морской торговый порт «Суходол» - резидент свободного порта Владивосток<span class='more'>, новый высокотехнологичный угольный терминал, запуск которого планируется в 2021 году. Позволит осуществлять перевалку угля в объемах до 12 млн. тонн в год, что создаст возможность для существенного расширения экспорта российских угледобывающих компаний в страны Азиатско-Тихоокеанского региона.</span>
                    +e.A.more-link(href='#') Развернуть
            +e.LI.item
                +e.item-image(style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('images/investment/investment1.jpg')")
                +e.item-content
                    +e.item-header
                        +e.item-title Лавна
                        +e.item-city Мурманск
                    +e.P.item-text Специализированный угольный перегрузочный комплекс на западном берегу Кольского залива в устье реки Лавна. <span class='more'> Стратегически важный Федеральный проект, развивающийся на условиях государственно-частного партнерства. Запуск современного высокотехнологичного глубоководного порта «Лавна» планируется в 2021 году. Производственная мощность порта рассчитана на перевалку 18 млн.тонн угля в год.</span>
                    +e.A.more-link(href='#') Развернуть
            +e.LI.item
                +e.item-image(style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('images/investment/investment3.jpg')")
                +e.item-content
                    +e.item-header
                        +e.item-title Алтайвагон
                        +e.item-city Новоалтайск
                    +e.P.item-text Производственный холдинг «Алтайвагон» - один из крупнейших в России производителей вагонов. <span class='more'>Компания занимается производством современных крытых вагонов, полувагонов, платформ и цистерн, а также разработкой и изготовлением инновационных моделей подвижного грузового железнодорожного состава для крупнейших операторов.</span>
                    +e.A.more-link(href='#') Развернуть