mixin investment()
    +b.SECTION.investment
        +inner
            +e.heading 
                +heading('Мы инвестируем')
            +e.content
                +e.P.text АО «Центр Развития Портовой Инфраструктуры» выступает частным инвестором в инфраструктурные транспортно-логистические проекты, принимая активное участие в их развитии. 
                +e.P.text На сегодняшний день в инвестиционный портфель компании входит несколько проектов, среди которых специализированный морской порт по перегрузке угля «Суходол» и угольный терминал морского торгового порта «Лавна».
        +e.UL.list
            +e.LI.item
                +e.item-image.lavna
                +e.item-content
                    +e.item-title Лавна
                    +e.P.item-text Компания приобрела долю в размере 30% в мае 2019 года. Проект развивается на условиях<span class='more'> государственно-частного партнерства, основные документы подписаны в июне 2019 года. Планируемый запуск деятельности порта – 2021 год. Терминал позволит осуществлять перевалку до 18 млн. тонн угля в год.</span>
                    +e.A.more-link(href='#') Развернуть
            +e.LI.item
                +e.item-image.sukhodol
                +e.item-content
                    +e.item-title Суходол
                    +e.P.item-text Компания вошла в капитал порта в декабре 2018 года. В настоящее время ведутся строительные работы<span class='more'>, планируемый срок их завершения и ввода порта в эксплуатацию – конец 2021 года. По завершении строительства порт позволит осуществлять перевалку угля в объемах до 20 млн. тонн в год.<span>
                    +e.A.more-link(href='#') Развернуть