mixin services-en()
    +b.SECTION.services#services
        +inner
            +e.row
                +e.content
                    +e.heading 
                        +heading('Services')
                    +e.P.text Port Infrastructure Development Center, JSC provides the complex of transport and forwarding services with a major in railway transportation of loose cargo and organizing of port transshipment. The company has at its disposal a wide network of partnership relations with ports and biggest freight cars owners that allows coping with transport challenges of any complexity and in any volume.
                +e.image
                    img(src="images/services/service.jpg", alt="CRPI services")