mixin services-en()
    +b.SECTION.services#services
        +inner
            +e.content
                +e.heading 
                    +heading('Services')
                +e.P.text Port Infrastructure Development Center, JSC provides the complex of transport and forwarding services with a major in railway transportation of loose cargo and organizing of port transshipment. The company has at its disposal a wide network of partnership relations with ports and biggest freight cars owners that allows coping with transport challenges of any complexity and in any volume.
            +e.UL.list
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Морская транспортировка
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Загрузка / Погрузка краном
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Складские помещения