mixin services()
    +b.SECTION.services#services
        +inner
            +e.row
                +e.content
                    //- +e.heading 
                    //-     +heading('Наши услуги')
                    +e.P.text Акционерное общество «Центр Развития Портовой Инфраструктуры» (ЦРПИ) осуществляет инвестиционную и транспортно-логистическую деятельность на территрии Российской Федерации. Является партнером основных операторов и собственников подвижных составов, промышленных предприятий Федерального значения и финансово-промышленных групп.
                +e.image
                    img(src="images/services/service.jpg", alt="Услуги ЦРПИ")
        +inner
            +e.heading.__list-heading
                +heading('Услуги', 'center')
            +e.P.text
                | ЦРПИ оказывает услуги комплексного транспортно-экспедиционного обслуживания железнодорожных перевозок и портовой перевалки всех видов грузов. Компания располагает широкой сетью партнерских отношений с грузовыми портами и крупнейшими операторами вагонов, что позволяет решать транспортные задачи любой сложности и в любом объеме.
        +e.UL.list
            +e.LI.item
                +e.item-image(style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(images/services/service1.jpg)')
                +e.item-content
                    +e.item-title Предоставление подвижного состава для перевозок
                    +e.P.item-text ЦРПИ обеспечивает клиентам железнодорожную перевозку всех номенклатурных групп грузов <span class='more'> на территории Российской Федерации, СНГ, стран Прибалтики и Украины. Перевозка осуществляется крытыми вагонами, полувагонами, цистернами и платформами.</span>
                    +e.A.more-link(href='#') Развернуть
            +e.LI.item
                +e.item-image(style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(images/services/service2.jpg)')
                +e.item-content
                    +e.item-title Экспедиционное обслуживание железнодорожного транспорта
                    +e.P.item-text Компания ЦРПИ оказывает полный комплекс экспедиторских услуг при перевозке грузов<span class='more'>, включая проведение провозных платежей на всей территории покрытия Российских железных дорог, а также в государствах Средней Азии и Прибалтики.</span>
                    +e.A.more-link(href='#') Развернуть
            +e.LI.item
                +e.item-image(style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(images/services/service3.jpg)')
                +e.item-content
                    +e.item-title Аренда подвижного состава
                    +e.P.item-text Предоставляем все виды подвижного состава на условиях долгосрочной и краткосрочной аренды в любом объёме.
            +e.LI.item
                +e.item-image(style='background-image:url(images/services/service4.jpg)')
                +e.item-content
                    +e.item-title Поставка запасных частей и узлов деталей вагонов
                    +e.P.item-text ЦРПИ имеет прямые договоры с крупнейшими заводами-изготовителями и осуществляет поставку литых деталей вагонов<span class='more'>, элементов ходовых частей, цельнокатаных колес, осей, буксовых узлов и готовых колёсных пар СОНК и НОНК на осях РУ1Ш.</span>
                    +e.A.more-link(href='#') Развернуть