.services {
    padding-top: 40px;

    color: $text-color;
    font-family: $font;
}

.services__content {
    margin-bottom: 20px;
}

.services__heading {
    margin-bottom: 10px;
}

.services__text {
    margin: 0 0 10px;

    font-size: 16px;
    font-weight: 300;
    line-height: 19px;

    &:last-child {
        margin-bottom: 0;
    }

    &::selection {
        color: $themecolor;
    }
}

.services__image {
    width: 100%;
    height: auto;

    overflow: hidden;
    border-radius: 6px;

    img {
        @include img;
    }
}

@media #{$tablet} {
    .services__heading {
        margin-bottom: 20px;

        .heading {
            line-height: 1;
        }
    }

    .services__row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .services__image {
        flex: 0 0 auto;
        width: 43.5%;
        margin-right: 4%;
        order: -1;
    }

    .services__content {
        flex: 1 1 auto;
        width: 50%;
    }
}

@media #{$laptop} {
    .services {
        padding-top: 90px;
    }

    .services__heading {
        margin-bottom: 30px;
    }

    .services__text {
        font-size: 24px;
        line-height: 32px;
    }
}
