mixin services()
    +b.SECTION.services#services
        +inner
            +e.content
                +e.heading 
                    +heading('Наши услуги')
                +e.P.text АО «Центр Развития Портовой Инфраструктуры» оказывает услуги комплексного транспортно-экспедиционного сопровождения с фокусом на железнодорожных перевозках сыпучих грузов и организацией портовой перевалки. Компания располагает широкой сетью партнерских отношений с портами и крупнейшими владельцами вагонов, что позволяет решать транспортные задачи любой сложности и в любом объеме.
            +e.UL.list
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Морская транспортировка
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Загрузка / Погрузка краном
                +e.LI.item
                    +e.item-image
                    +e.P.item-desc Складские помещения