.services {
    padding-top: 40px;

    color: $text-color;
    font-family: $font;
}

.services__row {
    margin-bottom: 25px;
}

.services__content {
    margin-bottom: 20px;
}

.services__heading {
    margin-bottom: 10px;
}

.services__text {
    margin: 0 0 10px;

    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }

    &::selection {
        color: $themecolor;
    }
}

.services__image {
    width: 100%;
    height: auto;

    overflow: hidden;
    border-radius: 6px;

    img {
        @include img;
    }
}

.services__list {
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
    list-style: none;

    .slick-track {
        display: flex;
        align-items: stretch;
    }

    .slick-slide {
        display: flex;
        flex-flow: column wrap;
        height: auto;

        outline: none;
    }
}

.services__item {
    flex: 1 1 auto;
    padding-right: 1px;
    margin: 0 8px 0;

    border-radius: 6px;
    overflow: hidden;
}

.services__item-image {
    width: 100%;
    height: 225px;
    background-size: cover;

    &.lavna {
        background-image: linear-gradient(to bottom, rgba(black, 0.2) 0%, rgba(black, 0.2) 100%),
            url('../images/investment/investment1_s.jpg');
    }

    &.sukhodol {
        background-image: linear-gradient(to bottom, rgba(black, 0.2) 0%, rgba(black, 0.2) 100%),
            url('../images/investment/investment2_s.jpg');
    }
}

.services__item-content {
    flex: 1 1 auto;
    position: relative;
    padding: 16px 22px;

    background-color: #eee;
}

.services__item-title {
    position: absolute;
    top: -50px;
    margin: 0;

    color: $light-text;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    &::selection {
        color: $themecolor;
    }
}

.services__item-text {
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: justify;

    .more {
        display: none;
    }

    &::selection {
        color: $themecolor;
    }
}

.services__more-link {
    display: block;

    color: $themecolor;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;

    transition: color 300ms ease;

    &:hover,
    &:active,
    &:focus {
        color: darken($themecolor, $amount: 10%);
        text-decoration: none;
    }
}

@media #{$tablet} {
    .services__heading {
        margin-bottom: 20px;

        .heading {
            line-height: 1;
        }
    }

    .services__row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .services__image {
        flex: 0 0 auto;
        width: 43.5%;
        margin-right: 4%;
        order: -1;
    }

    .services__content {
        flex: 1 1 auto;
        width: 50%;
    }

    .services__list {
        max-width: 768px;
    }

    .services__item-image {
        height: 300px;

        &.lavna {
            background-image: linear-gradient(to bottom, rgba(black, 0.2) 0%, rgba(black, 0.2) 100%),
                url('../images/investment/investment1.jpg');
        }

        &.sukhodol {
            background-image: linear-gradient(to bottom, rgba(black, 0.2) 0%, rgba(black, 0.2) 100%),
                url('../images/investment/investment2.jpg');
        }
    }
}

@media #{$laptop} {
    .services {
        padding-top: 90px;
    }

    .services__heading {
        margin-bottom: 30px;
    }

    .services__text {
        font-size: 24px;
        line-height: 32px;
    }

    .services__list {
        max-width: 1440px;

        .slick-slide {
            height: 680px;
            flex-flow: row nowrap;
        }

        .slick-arrow {
            position: absolute;
            z-index: 1;
            width: 80px;
            height: 80px;
            padding: 0;
            top: 50%;

            font-size: 0;
            background-color: #fff;

            border-radius: 50%;
            border: none;
            outline: none;

            cursor: pointer;
            pointer-events: initial;

            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.07);

            &.slick-disabled {
                opacity: 0;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                opacity: 1;

                background-image: url('../images/svg/inline-svg/round-arrow.svg');
                background-size: cover;

                transition: opacity 300ms ease;
            }

            &::after {
                opacity: 0;
                background-image: url('../images/svg/inline-svg/round-arrow-alt.svg');
            }

            &:hover,
            &:active {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }

        .slick-prev {
            left: 7%;
            transform: translateY(-50%);
        }

        .slick-next {
            left: auto;
            right: 7%;
            transform: rotate(180deg) translateY(50%);
        }
    }

    .services__item {
        margin: 0 20px;

        border-radius: 30% / 3%;
        overflow: hidden;
    }

    .services__item-image {
        height: 100%;
        order: 1;
    }

    .services__item-content {
        width: 33%;
        padding: 50px 40px;
    }

    .services__item-image {
        width: 67%;
    }

    .services__item-title {
        position: static;
        margin-bottom: 20px;

        color: $text-color;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }

    .services__item-text {
        font-size: 16px;
        line-height: 30px;

        .more {
            display: inline;
        }
    }

    .services__more-link {
        display: none;
    }
}

@media (min-width: 1439px) {
    .services__list {
        .slick-prev {
            left: 105px;
            transform: translateY(-50%);
        }

        .slick-next {
            left: auto;
            right: 105px;
            transform: rotate(180deg) translateY(50%);
        }
    }
}
