mixin footer-en()
    +b.FOOTER.footer
        +inner
            +e.heading
                +heading('Contacts')
            +e.row
                +e.block
                    +e.icon
                        img(data-src="images/footer/footer_adress.svg", alt="")
                    +e.content
                        +e.data 43, Lesnaya street, Moscow
                        +e.label Address
                +e.block
                    +e.icon
                        img(data-src="images/footer/footer_phone.svg", alt="")
                    +e.content
                        +e.A.data(href='tel:+74955327749') +7 (495) 532-77-49
                        +e.label Phone number
                +e.block
                    +e.icon
                        img(data-src="images/footer/footer_mail.svg", alt="")
                    +e.content
                        +e.A.data(href='mailto:Info@centerport.ru') Info@centerport.ru
                        +e.label E-mail