mixin footer-en()
    +b.FOOTER.footer
        +inner
            +e.heading
                +heading('Контакты')
            +e.row
                +e.block
                    +e.icon
                        img(src="images/footer/footer_adress.svg", alt="")
                    +e.content
                        +e.data Москва, ул. Лесная, д. 43
                        +e.label Адрес
                +e.block
                    +e.icon
                        img(src="images/footer/footer_phone.svg", alt="")
                    +e.content
                        +e.A.data(href='tel:+74955327749') +7 (495) 532-77-49
                        +e.label Телефон    
                +e.block
                    +e.icon
                        img(src="images/footer/footer_mail.svg", alt="")
                    +e.content
                        +e.A.data(href='mailto:Info@centerport.ru') Info@centerport.ru
                        +e.label Почта