include template/header
include template/footer
include ../blocks/**/*
- var alias = "m"
doctype html
html(lang='en')
    +doc-header
    body
        +top-screen-en
        +services-en
        +investment-en
        +partners-en
        //- +team-en
        +map-en
        +footer-en
        +doc-footer