mixin partners()
    +b.SECTION.partners
        +inner
            +e.heading
                +heading('Наши партнеры')
            +e.UL.list
                +e.LI.item
                    img(src="images/partners/partner1.jpg", alt="")
                +e.LI.item
                    img(src="images/partners/partner2.jpg", alt="")
                +e.LI.item
                    img(src="images/partners/partner3.jpg", alt="")
                +e.LI.item
                    img(src="images/partners/partner4.jpg", alt="")