.partners {
    padding-top: 40px;
    padding-bottom: 20px;

    color: $text-color;
    font-family: $font;
}

.partners__heading {
    margin-bottom: 30px;

    .heading {
        text-align: center;
    }
}

.partners__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -5px;
    padding: 0;
    list-style: none;
}

.partners__item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 10px;
    width: 135px;
    height: 75px;

    transition: transform 300ms ease;

    img {
        @include img;
    }

    &:hover,
    &:active,
    &:focus {
        transform: scale(1.2);
    }
}

@media #{$laptop} {
    .partners {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .partners__heading {
        margin-bottom: 40px;

        .heading {
            text-align: left;
        }
    }

    .partners__list {
        margin: 0 -20px -20px;
    }

    .partners__item {
        width: 21%;
        height: 120px;
        margin: 0 20px 20px;
    }
}

@media (min-width: 1440px) {
    .partners__item {
        width: 260px;
        height: 140px;
    }
}
