mixin investment-en()
    +b.SECTION.investment
        +inner
            +e.heading 
                +heading('Investments')
            +e.content
                +e.P.text Port Infrastructure Development Center, JSC acts as a private investor into infrastructural transport and logistic projects, being actively involved into their development.
                +e.P.text As of today the company’s investment portfolio comprises several projects, among which are Sukhodol specialized coal transshipment sea port and Lavna coal terminal of the trading sea port.
        +e.UL.list
            +e.LI.item
                +e.item-image.lavna
                +e.item-content
                    +e.item-title Lavna
                    +e.P.item-text The Company became a shareholder with 30% share in May 2019.<span class='more'> The project is developing on the terms of governmental and private partnership, the basic documents were signed in June 2019. The launching of the port’s operation is planned for 2021. The terminal will enable to transship up to 18 mln. tons of coal annually.</span>
                    +e.A.more-link(href='#') More
            +e.LI.item
                +e.item-image.sukhodol
                +e.item-content
                    +e.item-title Sukhodol
                    +e.P.item-text The Company purchased a share in the port’s share capital in December 2018. <span class='more'>Presently, the construction works are being done and their accomplishment and commissioning of the port is scheduled for the end of 2021. Upon accomplishment of construction the port will enable to transship the coal in the volume up to 20 mln. tons per annum.<span>
                    +e.A.more-link(href='#') More