mixin investment-en()
    +b.SECTION.investment
        +inner
            +e.heading 
                +heading('Investments')
            +e.content
                +e.P.text Port Infrastructure Development Center invests into infrastructural, transport and logistic projects and production companies and takes an active part in their development along with its partners. The investment portfolio of the PIDC consists of such major projects as specialized coal transshipment sea port Sukhodol, coal terminal of commercial sea port Lavna and Altaivagon production holding.
        +e.UL.list
            +e.LI.item
                +e.item-image
                    +picture-helper({mobile: "images/investment/investment2_mobile.jpg", tablet: "images/investment/investment2_tablet.jpg", desktop: "images/investment/investment2.jpg"}, true)
                +e.item-content
                    +e.item-header
                        +e.item-title Sukhodol
                        +e.item-city Vladivostok
                    +e.P.item-text Sukhodol commercial sea port is a resident of Vladivostok free port<span class='more'>, a new high-tech coal terminal which launch is scheduled for 2021. It will enable the coal transshipment in amount up to 12 million tons per year, which will create an opportunity for a sufficient expansion of Russian coal mining companies’ export to Asia-Pacific countries.</span>
                    +e.A.more-link(href='#') More
            +e.LI.item
                +e.item-image
                    +picture-helper({mobile: "images/investment/investment1_mobile.jpg", tablet: "images/investment/investment1_tablet.jpg", desktop: "images/investment/investment1.jpg"}, true)
                +e.item-content
                    +e.item-header
                        +e.item-title Lavna
                        +e.item-city Murmansk
                    +e.P.item-text It is a apecialized coal transshipment complex on the Western shore of the Kola Bay at the mouth of the Lavna river. <span class='more'>This is a strategically important federal project developing on the basis of public and private partnership. It is planned to launch a modern high-tech deep-water port Lavna in 2021. The port's production capacity is meant for the transshipment of 18 million tons of coal per year.</span>
                    +e.A.more-link(href='#') More
            +e.LI.item
                +e.item-image
                    +picture-helper({mobile: "images/investment/investment3_mobile.jpg", tablet: "images/investment/investment3_tablet.jpg", desktop: "images/investment/investment3.jpg"}, true)
                +e.item-content
                    +e.item-header
                        +e.item-title Altaivagon
                        +e.item-city Novoaltaisk
                    +e.P.item-text Altaivagon production holding is one of the largest Russian manufacturers of railway freight rolling stock. <span class='more'>The company is engaged in production of modern covered cars, gondola cars, platforms and tanks, and in development and manufacture of innovative models of railway freight rolling stock for the major railway operators.</span>
                    +e.A.more-link(href='#') More