.heading {
    margin: 0;

    color: rgba(black, 0.9);
    font-family: $font;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;

    &.center {
        text-align: center;
    }

    &::selection {
        color: $themecolor;
    }
}

@media #{$laptop} {
    .heading {
        font-size: 48px;
    }
}
