mixin team-en()
    +b.SECTION.team
        +inner
            +e.heading 
                +heading('Our team')
            +e.slider
                +e.slide
                    +e.content
                        +e.avatar
                            img(src="images/team/avatar1.jpg", alt="")
                        +e.name Sergei Sergeev
                        +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, sapiente.
                +e.slide
                    +e.content
                        +e.avatar
                            img(src="images/team/avatar2.jpg", alt="")
                        +e.name Anna Annova
                        +e.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nemo debitis dolorem laborum dolor officia exercitationem perspiciatis sed facere eaque!
                +e.slide
                    +e.content
                        +e.avatar
                            img(src="images/team/avatar1.jpg", alt="")
                        +e.name Ivan Ivanov
                        +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, sapiente.
                +e.slide
                    +e.content
                        +e.avatar
                            img(src="images/team/avatar2.jpg", alt="")
                        +e.name Yuliya Yulyevna
                        +e.text Lorem ipsum dolor sit amet.
            +e.counter
                +e.counter-num.__counter-current 1
                +e.counter-num.__counter-total 