mixin partners-en()
    +b.SECTION.partners
        +inner
            +e.heading
                +heading('Our partners')
            +e.UL.list
                +e.LI.item
                    +e.A.link(href='http://www.rzd.ru/' target='_blank' rel="nofollow noopener")
                        +picture-helper({mobile: "images/partners/partner1_mobile.jpg", tablet: "images/partners/partner1_tablet.jpg", desktop: "images/partners/partner1.jpg"}, true)
                +e.LI.item
                    +e.A.link(href='http://sds-ugol.ru/' target='_blank' rel="nofollow noopener")
                        +picture-helper({mobile: "images/partners/partner2_mobile.jpg", tablet: "images/partners/partner2_tablet.jpg", desktop: "images/partners/partner2.jpg"}, true)
                +e.LI.item
                    +e.A.link(href='https://gtlk.ru/' target='_blank' rel="nofollow noopener")
                        +picture-helper({mobile: "images/partners/partner3_mobile.jpg", tablet: "images/partners/partner3_tablet.jpg", desktop: "images/partners/partner3.jpg"}, true)
                +e.LI.item
                    +e.A.link(href='https://ru.railfgk.ru/' target='_blank' rel="nofollow noopener")
                        +picture-helper({mobile: "images/partners/partner4_mobile.jpg", tablet: "images/partners/partner4_tablet.jpg", desktop: "images/partners/partner4.jpg"}, true)