mixin partners-en()
    +b.SECTION.partners
        +inner
            +e.heading
                +heading('Our partners')
            +e.UL.list
                +e.LI.item
                    +e.A.link(href='http://www.rzd.ru/' target='_blank' rel="nofollow noopener")
                        img(src="images/partners/partner1.jpg", alt="")
                +e.LI.item
                    +e.A.link(href='http://sds-ugol.ru/' target='_blank' rel="nofollow noopener")
                        img(src="images/partners/partner2.jpg", alt="")
                +e.LI.item
                    +e.A.link(href='https://gtlk.ru/' target='_blank' rel="nofollow noopener")
                        img(src="images/partners/partner3.jpg", alt="")
                +e.LI.item
                    +e.A.link(href='https://ru.railfgk.ru/' target='_blank' rel="nofollow noopener")
                        img(src="images/partners/partner4.jpg", alt="")